<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    
    <% include ../static/partials/navbar.ejs %>
    
    <div class="list-header">
        <h1 class="page-title"><%= currentUser.username %></h1>
        <% include ../static/partials/newItem.ejs %>
    </div>

    <main class="main-container dropped">

      <% include ../static/partials/messages.ejs %>

      <ul class="list-group">
        <% items.forEach((item) => { %>

          <% if(item.complete){ %>
            <li class="list-group-item bucket-item complete">
          <% } else { %>
            <li class="list-group-item bucket-item"}>
          <% } %>

            <div class="bucket-item-container">
              
              <h5 class="item-title"><%= item.title %></h5>

              <div class="item-type">
                <% if(item.type === "lifeExperience") { %>
                  <p>Life Experience</p>
                <% } else if(item.type === "localAttraction") { %>
                  <p>Local Attraction</p>
                <% } else if(item.type === "travelDestination") { %>
                  <p>Travel Destination</p>
                <% } %>
              </div>

              <div class="item-location">
                <% if(item.location){ %>
                  <p>Location: <%= item.location %></p>
                <% } %>
              </div>
            
              <div class="item-icons">
                <a href="/bucketItems/<%= item.id %>/edit"><i class="material-icons">create</i></a>
                <a href="/bucketItems/<%= item.id %>/deleteBucketItem"><i class="material-icons">delete</i></a>
                <% if(!item.complete) { %>
                  <a href="/bucketItems/<%= item.id %>/toggleComplete"><i class="material-icons">done</i></a>
                <% } else { %>
                  <a href="/bucketItems/<%= item.id %>/toggleComplete"><i class="material-icons">clear</i></a>
                <% } %>
              </div>
              
            </div>

            <p><%= item.description %></p>

          </li>
        <% }) %>
      </ul>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
